= stylesheet_link_tag "/plugins/ftcodeeditor_bespin/BespinEmbedded-0.9a1/BespinEmbedded.css"
= javascript_include_tag "/plugins/ftcodeeditor_bespin/BespinEmbedded-0.9a1/BespinEmbedded.js"


%script
  
  $(function(){
  $(".code_editor").after("<div class='code_editor_container'></div>");
  $(".code_editor_container").css({width:$(".code_editor").width(), height:$(".code_editor").height()});
  $(".code_editor").hide();
  
  window.onBespinLoad = function() {

  var embed = tiki.require("embedded"); 
  var node = $(".code_editor_container").get(0);
  
  var bespin = embed.useBespin(node);

  
  bespin.setSyntax("html");
  bespin.setSetting("tabstop", "2")
  bespin.setSetting("stealFocus", "true");
  bespin.setSetting("initialContent", $(".code_editor").html());

  
  //bespin.setSetting("content", $(".code_editor").val());
  //bespin.onchange(function(){ $(".code_editor").val(bespin.getContent()); });
  
  }
  
  })